# Historical Poverty Data by State

This is just a very quick notebook to pad the years in an otherwise manually processed Excel table.  The table includes total  and impoverished population information over the 1980-2014 period.  The only reason I am using this Notebook at all is to take note of where I found it, and the relevant [footnotes](http://www.census.gov/hhes/www/poverty/histpov/footnotes.html).

In [21]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

These data come from [Table 21 of the Census Historical Poverty Tables](https://www.census.gov/hhes/www/poverty/data/historical/people.html).  Note that the data had two subsets for 2013.  The processed CSV file to be read in here retained the subset consistent with the 2013 ASEC.  The other one, which reflects redesigned income questions, was dropped.  The reason for this decision is the current analysis window for the Medicaid imputation project extends from 1980-2011.  We may be able to squeeze a couple more years out, but the game changes dramatically in 2014 (due to the Affordable Care Act).  Consequently, consistency won out.  The relevant footnotes are here:

    18. Data are based on the CPS ASEC sample of 68,000 addresses. The 2014 CPS ASEC included redesigned questions for income and health insurance coverage. All of the approximately 98,000 addresses were eligible to receive the redesigned set of health insurance coverage questions. The redesigned income questions were implemented to a subsample of these 98,000 addresses using a probability split panel design. Approximately 68,000 addresses were eligible to receive a set of income questions similar to those used in the 2013 CPS ASEC and the remaining 30,000 addresses were eligible to receive the redesigned income questions. The source of the 2013 data for this table is the portion of the CPS ASEC sample which received the income questions consistent with the 2013 CPS ASEC, approximately 68,000 addresses.

    19. The 2014 CPS ASEC included redesigned questions for income and health insurance coverage. All of the approximately 98,000 addresses were eligible to receive the redesigned set of health insurance coverage questions. The redesigned income questions were implemented to a subsample of these 98,000 addresses using a probability split panel design. Approximately 68,000 addresses were eligible to receive a set of income questions similar to those used in the 2013 CPS ASEC and the remaining 30,000 addresses were eligible to receive the redesigned income questions. The source of data for this table is the portion of the CPS ASEC sample which received the redesigned income questions, approximately 30,000 addresses.
    
The remaining, applicable footnotes relate to unavoidable changes that usually occur at decennial Census years.

In [22]:
#Read in data
pov=pd.read_csv('pov_by_state_input_1980_2014.csv',skiprows=1).rename(columns={'Year':'year'})

#Drop rows with out data (will be missing value for state)
pov=pov[pov['state'].notnull()]

#Pad years
pov=pov.ffill()

print pov.info()

pov.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1785 entries, 0 to 1784
Data columns (total 7 columns):
state         1785 non-null object
pop           1785 non-null float64
num_pov       1785 non-null float64
st_err_num    1785 non-null float64
pct_pov       1785 non-null float64
st_err_pct    1785 non-null float64
year          1785 non-null float64
dtypes: float64(6), object(1)
memory usage: 111.6+ KB
None

         state    pop  num_pov  st_err_num  pct_pov  st_err_pct  year
0      Alabama   4765      848          53   17.806       1.105  2014
1       Alaska    694       82           8   11.853       1.170  2014
2      Arizona   6657     1409          76   21.164       1.147  2014
3     Arkansas   2891      532          44   18.402       1.533  2014
4   California  38666     6112         218   15.807       0.563  2014
5     Colorado   5376      661          72   12.297       1.347  2014
6  Connecticut   3577      308          44    8.605       1.216  2014
7     Delaware    929      103          10   11.043       1.033  2014
8           DC    657      125           9   19.024       1.328  2014
9      Florida  19694     3282         150   16.667       0.761  2014

Let's map in postal abbreviations as well.

In [23]:
#Read in mapping
st_map=pd.read_csv('https://raw.githubusercontent.com/jasonong/List-of-US-States/master/states.csv')

#Convert to dict
st_dict=dict(zip(st_map['State'],st_map['Abbreviation']))

#Include DC
st_dict.update({'District of Columbia':'DC',
                'DC':'DC'})

#Generate new state variable
pov['st']=pov['state'].map(st_dict)

#Set year and state to index
if 'year' in pov.columns:
    pov.set_index(['state','year'],inplace=True)
    
#Sort index
pov.sortlevel(0,inplace=True)

pov.head(51)

                      pop     num_pov  st_err_num    pct_pov  st_err_pct  st
state   year
Alabama 1980  3831.000000  810.000000   80.000000  21.200000     1.90000  AL
        1981  3878.000000  935.000000   86.000000  24.100000     1.90000  AL
        1982  3937.000000  849.000000   82.000000  21.600000     1.80000  AL
        1983  3950.000000  909.000000   89.000000  23.000000     1.98000  AL
        1984  3875.000000  738.000000   76.000000  19.100000     1.80000  AL
        1985  3981.000000  821.000000   82.000000  20.600000     2.10000  AL
        1986  4025.000000  959.000000   87.000000  23.800000     2.20000  AL
        1987  3989.000000  851.000000   86.000000  21.300000     2.20000  AL
        1988  4015.000000  775.000000   83.000000  19.300000     2.10000  AL
        1989  4074.000000  770.000000   83.000000  18.900000     2.00000  AL
        1990  4063.000000  779.000000   83.000000  19.200000     2.00000  AL
        1991  4178.000000  786.000000   83.000000  18.800000     2.00000  AL
        1992  4226.000000  729.000000   81.000000  17.300000     1.92000  AL
        1993  4168.000000  725.000000   81.000000  17.400000     1.94000  AL
        1994  4299.000000  704.000000   80.000000  16.400000     1.87000  AL
        1995  4396.000000  882.000000   86.000000  20.100000     1.96000  AL
        1996  4258.000000  595.000000   79.000000  14.000000     1.72000  AL
        1997  4243.000000  665.000000   83.000000  15.700000     1.81000  AL
        1998  4190.000000  609.000000   80.000000  14.500000     1.76000  AL
        1999  4388.000000  668.000000   84.000000  15.200000     1.76000  AL
        2000  4376.000000  583.000000   53.000000  13.300000     1.12000  AL
        2001  4378.000000  696.000000   57.000000  15.900000     1.21000  AL
        2002  4432.000000  640.000000   55.000000  14.500000     1.15000  AL
        2003  4417.000000  663.000000   56.000000  15.000000     1.17000  AL
        2004  4508.000000  762.000000   59.000000  16.900000     1.31000  AL
        2005  4501.000000  750.000000   59.000000  16.700000     1.31000  AL
        2006  4532.000000  650.000000   56.000000  14.300000     1.23000  AL
        2007  4566.000000  662.000000   56.000000  14.500000     1.23000  AL
        2008  4716.000000  675.000000   57.000000  14.300000     1.20000  AL
        2009  4655.000000  770.000000   60.000000  16.600000     1.28000  AL
        2010  4717.000000  812.000000   83.000000  17.200000     1.79000  AL
        2011  4765.000000  732.000000   74.000000  15.400000     1.53000  AL
        2012  4808.000000  777.000000   91.000000  16.200000     1.90000  AL
        2013  4751.219222  795.654048   67.169432  16.746313     1.41373  AL
        2014  4765.000000  848.000000   53.000000  17.806000     1.10500  AL
Alaska  1980   379.000000   36.000000   17.000000   9.600000     4.30000  AK
        1981   403.000000   36.000000   17.000000   9.000000     4.00000  AK
        1982   432.000000   46.000000   19.000000  10.600000     4.20000  AK
        1983   486.000000   61.000000    8.000000  12.600000     1.49000  AK
        1984   507.000000   49.000000   20.000000   9.600000     3.70000  AK
        1985   510.000000   45.000000    7.000000   8.700000     1.40000  AK
        1986   517.000000   59.000000    8.000000  11.400000     1.50000  AK
        1987   499.000000   60.000000    8.000000  12.000000     1.70000  AK
        1988   480.000000   53.000000    8.000000  11.000000     1.70000  AK
        1989   488.000000   51.000000    8.000000  10.500000     1.50000  AK
        1990   499.000000   57.000000    8.000000  11.400000     1.60000  AK
        1991   525.000000   62.000000    8.000000  11.800000     1.60000  AK
        1992   572.000000   58.000000    8.000000  10.200000     1.40000  AK
        1993   570.000000   52.000000    8.000000   9.100000     1.34000  AK
        1994   592.000000   61.000000    8.000000  10.200000     1.38000  AK
        1995   630.000000   45.000000    8.000000   7.100000     1.28000  AK

Ok, now we can write this to disk.

In [24]:
pov.to_csv('pov_by_state_1980_2014.csv')

In [26]:
# print pov.to_string()